<div class="container">
  <h2>Réserver ce Pokémon ?</h2>
  <div class="row">
    <div class="col-6">
      <p><%= @pokemon.name  %> - <%= @pokemon.element_type %></p>
      <%= simple_form_for [@pokemon, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit "Confirmer réservation", class: "btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>



</div>
