<div class="container">
  <h2>Book This Pokemon ?</h2>
  <div class="row">
    <div class="col-6">
      <p><%= @pokemon.name  %> - <%= @pokemon.element_type %></p>
      <%= simple_form_for [@pokemon, @booking] do |f| %>
        <%= f.input :start_date,
                    as: :string,
                    input_html: { data:{ controller: 'datepicker' }
                } %>
        <%= f.input :end_date,
                     as: :string,
                    input_html: { data:{ controller: 'datepicker' }
                } %>
        <%= f.submit "Confirm Booking", class: "btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>



</div>
