<div class="navbar navbar-expand-sm navbar-light sticky-top navbar-lewagon ">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <%= link_to root_path do %>
      <img id="pokeball-accueil" src="/images/pokeball.png" alt="logo" class="navbar-brand rounded-circle " style="width: 50px; height: auto;"/>
    <% end %>

    <div id="logo-pokeloc" class="d-flex justify-content-center flex-grow-1">
        <img src="/images/logo.png" alt="Logo Pokeloc" style="width:170px; height:auto;">
    </div>


      <ul class="navbar-nav d-flex align-items-center align-content-center fs-4">

        <% if user_signed_in? %>
          <li class="nav-item d-flex align-items-center fs-4">
                <%= link_to "Pokemons", pokemons_path, class: "nav-link text-white"  %>
          </li>
          <li class="nav-item">
                 <%= link_to "Add Pokemon", new_pokemon_path, class: "nav-link text-white"%>
          </li>
          <li class="nav-item">
                <%= link_to "Bookings", bookings_path, class: "nav-link text-white me-2" %>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-user text-white text-align-end me-2"id ="avatar"alt= "dropdown menu"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
               <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
      </ul>

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
