<div class="pokemons d-flex justify-content-between">
  <h2 class= "my-3">Liste des Pokémon</h2>

  <div class="new class my-3">
      <%= link_to "Add a Pokemon", new_pokemon_path%>
  </div>


</div>

<% @pokemons.each do |pokemon| %>
  <div>
    <h3><%= pokemon.name %> - <%= pokemon.element_type %></h3>
    <p>Adresse : <%= pokemon.address %></p>
    <p>Prix par jour : <%= pokemon.price_per_day %> €</p>
    <%= link_to "Voir", pokemon_path(pokemon) %>
  </div>
  <hr>
<% end %>
