<!-- Conteneur de recherche avec le même background -->
<div data-controller="toggle" class="search-container p-2 d-flex justift-content-between align-items-center">
     <a data-action="click->toggle#fire" class="btn-outline-primary me-2 text-decoration-none"> <i class="fas fa-search ms-3 me-1 fs-2"></i> Search Pokemon ?</a>
  <div  data-toggle-target="toggableElement" class=" d-none w-50">
    <%= render "form_search" %>
  </div>
</div>

<!-- Conteneur principal -->
<div class="index-contain d-flex flex-row align-items-start">

  <!-- Liste des Pokémons -->
  <div class="pokemons flex-grow-1">
    <div class="pokemons-grid-index my-4 ms-4">

      <% if @pokemons.any? %>
        <% @pokemons.each do |pokemon| %>
          <%= link_to pokemon_path(pokemon), class:"text-decoration-none text-dark" do %>
            <div class="pokemon-index-card py-3 px-4 d-flex flex-column" style="height: 100%;">

              <!-- Boutons de statut -->
              <div class="cercles d-flex align-items-center w-100 justify-content-start mt-3">
                <div class="cercle d-flex mt-2">
                  <i class="fa-solid fa-circle pe-3" id="on"></i>
                  <i class="fa-solid fa-circle text-danger pe-2"></i>
                  <i class="fa-solid fa-circle text-warning pe-2"></i>
                  <i class="fa-solid fa-circle text-success"></i>
                </div>
              </div>

              <!-- Infos Pokémon -->
              <div class="pokemon-index-infos">
                <h3 class="name-element mb-3"><%= pokemon.name %> - <%= pokemon.element_type %></h3>
                  <div class="pokemon-index-image my-2 bg-light">
                    <% if pokemon.photos.attached? %>
                      <%= image_tag pokemon.photos.first, alt: pokemon.name, class: "pokemon-image object-fit-contain", width: 135, height: 135 %>
                    <% else %>
                      <p>No image available</p>
                    <% end %>
                  </div>
              </div>

              <!-- Force l'alignement en bas -->
              <div class="flex-grow-1"></div>

              <!-- Détails et bouton -->
                <div class="details d-flex justify-content-between align-items-end flex-wrap">
                 <div class="adress-price text-start" style="min-height: 50px;">
                    <p><i class="fa-solid fa-location-dot pe-1"></i> <%= pokemon.address %></p>
                    <p><%= pokemon.price_per_day %>€/day</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-end gap-3 w-100 mb-3">
                    <button type="button" class="btn btn-success d-flex align-items-center" style="height: 30px; width: 70px"></button>
                    <i class="fa-sharp fa-solid fa-plus fa-3x text-black ms-2"></i>
                  </div>
                </div>

            </div>
          <% end %>
        <% end %>
      <% else %>
        <p class="mt-3">No Pokémon found for this search</p>
      <% end %>
    </div>
  </div>
  <!-- Carte Map -->
  <div class="map ms-2 mt-4">
    <div class="map-container"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>
