<div class="pokemons d-flex justify-content-between">
  <h2 class= "my-3">Liste des Pokémon</h2>

  <div class="new class my-3">
      <%= link_to "Ajouter un Pokemon", new_pokemon_path%>
  </div>


</div>

<% @pokemons.each do |pokemon| %>
  <div>
    <h3><%= pokemon.name %> - <%= pokemon.element_type %></h3>
    <% if pokemon.photos.attached? %>

        <%= image_tag pokemon.photos.first, alt: pokemon.name, class: "pokemon-image", width: 200 %>

        <% else %>
        <p>No image available</p>
    <% end %>
    <p>Adresse : <%= pokemon.address %></p>
    <p>Prix par jour : <%= pokemon.price_per_day %> €</p>
    <%= link_to "Voir", pokemon_path(pokemon) %>
    <%= link_to "Réserver", new_pokemon_booking_path(pokemon) %>
  </div>
  <hr>
<% end %>
