<div style="width: 100%; height: 300px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="container">

  <div class="pokemons">
  <h2 class= "my-3">Pokemons list</h2>

</div>
<div class="pokemons-grid-index my-5">

   <% @pokemons.each do |pokemon| %>
    <div>
      <h3><%= pokemon.name %> - <%= pokemon.element_type %></h3>
        <% if pokemon.photos.attached? %>

        <%= image_tag pokemon.photos.first, alt: pokemon.name, class: "pokemon-image", width: 200 %>

        <% else %>
        <p>No image available</p>
      <% end %>
      <p>Address : <%= pokemon.address %></p>
      <p>Price per day : <%= pokemon.price_per_day %> €</p>
      <%= link_to "See this Pokemon", pokemon_path(pokemon), class:"text-decoration-none"%>

    </div>

<% end %>

</div>


</div>
