<h2>Créer un Pokémon</h2>

<%= simple_form_for @pokemon do |f| %>
  <%= f.input :name %>
  <%= f.input :element_type %>
  <%= f.input :address%>
  <%= f.input :price_per_day %>
  <%= f.input :description %>

   <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.button :submit %>
<% end %>


<%= link_to "Retour à la liste", pokemons_path %>
