<div class="banner" style="background-image: url('/images/banner.jpg')"></div>
<div class="pokemon-show-bg">
<div class="container">
  <div class="pokemon-container-show d-flex flex-column flex-lg-row justify-content-center">

  <!-- Section Pokémon avec image et informations, qui sera en dessous sur les petits écrans -->
  <div class="pokemon-card w-100 h-100 d-flex flex-column">
    <h2><%= @pokemon.name %> - <%= @pokemon.element_type %></h2>

    <div class="d-flex flex-column flex-lg-row" style="flex: 1;">
      <!-- Section Image -->
      <div class="pokemon-image-container me-lg-4 pb-2 mb-lg-0" style="flex: 1;">
        <% if @pokemon.photos.attached? %>
          <div id="pokemonCarousel" class="carousel slide ps-4">
            <div class="carousel-inner">
              <% @pokemon.photos.last(2).each_with_index do |photo, index| %>
                <div class="carousel-item <%= 'active' if index == 0 %>">
                  <%= image_tag rails_blob_path(photo, only_path: true), alt: @pokemon.name, class: "pokemon-image d-block w-100", style: "max-height: 500px; object-fit: contain;" %>
                </div>
              <% end %>
            </div>
            <div class="carousel-indicators">
              <% @pokemon.photos.last(2).each_with_index do |photo, index| %>
                <button type="button" data-bs-target="#pokemonCarousel" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>" aria-current="<%= 'true' if index == 0 %>" aria-label="Slide <%= index + 1 %>"></button>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#pokemonCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#pokemonCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% else %>
          <p>No image available</p>
        <% end %>
      </div>

      <!-- Section Informations -->
      <div class="pokemon-info" style="flex: 2; ms-2">
        <p><strong>Description :</strong> <%= @pokemon.description %></p>
        <p><strong>Address :</strong> <%= @pokemon.address %></p>
        <p><strong>Price per day:</strong> <%= @pokemon.price_per_day %> €</p>
      </div>
    </div>

    <div class="d-flex flex-column flex-lg-row" style="flex: 1;">
      <div  style="width: 50%; height: 400px; margin-top: 15px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

      <div class="pokemon-reviews mt-3 mx-4" style="flex: 2; ms-2">
        <h4>Reviews</h4>
        <% @pokemon.reviews.each do |review| %>
          <div class="pokemon-review mb-2" >
            <span><strong>From:</strong> <%= review.booking.user.name %></span>
            <br>
            <span><strong>Rating:</strong> <%= raw('<i class="fa-solid fa-star"></i>') * review.rating %> · <%= review.created_at.strftime("%B %Y") %></span>
            <br>
            <span><strong>Comment:</strong> <%= review.comment %></span>
          </div>
        <% end %>
      </div>

    </div>
    <!-- Carte Map sous les informations, prenant toute la largeur -->


  </div>
    <!-- Section de réservation (Booking) -->
  <div class="booking w-100 w-lg-25 mb-4 mb-lg-0" style="position: relative;">
     <div class="new-booking sticky-top" style="top: 20px;">
      <% if flash[:success] %>
        <div class="alert alert-success">
          <%= flash[:success] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <%= flash[:error] %>
        </div>
      <% end %>

      <h2>Book This Pokemon?</h2>
      <p><%= @pokemon.name  %></p>
      <%= simple_form_for [@pokemon, @booking] do |f| %>
        <%= f.input :start_date, as: :string, input_html: { data:{ controller: 'datepicker' } } %>
        <%= f.input :end_date, as: :string, input_html: { data:{ controller: 'datepicker' } } %>
        <%= f.submit "Confirm Booking", class: "btn btn-outline-primary" %>
      <% end %>
    </div>

  </div>

</div>
<div class="pb-5">
<%= link_to "Back to the list", pokemons_path, class:"text-decoration-none text-dark" %>
</div>

</div>
</div>
