<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb3Mv</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jersey+20&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Rufina:wght@400;700&display=swap" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= 'home-page' if controller.controller_name == 'home' %>">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
       <%= yield %>

  </body>

</html>
